{% extends "layout.html" %}

{% block title %}
    Réinitialiser  
{% endblock %}



{% block main %}
    <div>
        <h1>Réinitialiser votre mot de passe</h1>
        <form method="post">
            <div>
                <label class="form-label fw-semibold mt-3" for="email">Courriel</label>
                <input class="form-control mx-auto w-auto" type="email" name="email" id="email" required>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Soumettre</button>
        </form>
    </div>
{% endblock %}
