{% extends "layout.html" %}

{% block title %}
    Réinitialisez   
{% endblock %}



{% block main %}
    <div>
        <h1>Réinitialisez votre
            mot de passe</h1>
        <form method="post">
        <div>
            <label class="form-label fw-semibold mt-3" for="password">Nouveau mot de passe</label>
            <input class="form-control mx-auto w-auto" type="password" name="password" id="password" required>
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold mt-3" for="confirmation">Confirmer votre mot de passe</label>
            <input class="form-control mx-auto w-auto" name="confirmation" type="password" required>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Soumettre</button>
        </form>
    </div>
{% endblock %}