{% extends "layout.html" %}

{% block title %}
    {{ _('Reset Request') }}
{% endblock %}



{% block main %}
    <div>
        <h1>{{ _('Reset Password') }}</h1>
        <form method="post">
            <div>
                <label class="form-label fw-semibold mt-3" for="email">{{ _('Email address') }}</label>
                <input class="form-control mx-auto w-auto" type="email" name="email" id="email" required>
            </div>
            <button class="btn btn-primary mt-3" type="submit">{{ _('Request Password Reset') }}</button>
        </form>
    </div>
{% endblock %}
